proyecto/Asocajas/Asocajas/Service References/ConsultaCedulasPrueba/WSConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultarCedulas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarCedulasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarCedulasResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estadoConsulta" type="tns:estadoConsulta" />
          <s:element minOccurs="0" maxOccurs="1" name="datosCedulas" type="tns:datosCedulas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="estadoConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroControl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaHoraConsulta" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="datosCedulas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="anoResolucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departamentoExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estadoCedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaDefuncion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="informante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarNovedad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarPreparacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipioExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numResolucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="particula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaHoraConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroControl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserAuth" type="tns:UserAuth" />
      <s:complexType name="UserAuth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarCedulasSoapIn">
    <wsdl:part name="parameters" element="tns:consultarCedulas" />
  </wsdl:message>
  <wsdl:message name="consultarCedulasSoapOut">
    <wsdl:part name="parameters" element="tns:consultarCedulasResponse" />
  </wsdl:message>
  <wsdl:message name="consultarCedulasUserAuth">
    <wsdl:part name="UserAuth" element="tns:UserAuth" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="consultarCedulas">
      <wsdl:input message="tns:consultarCedulasSoapIn" />
      <wsdl:output message="tns:consultarCedulasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarCedulas">
      <soap:operation soapAction="http://tempuri.org/consultarCedulas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:consultarCedulasUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarCedulas">
      <soap12:operation soapAction="http://tempuri.org/consultarCedulas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:consultarCedulasUserAuth" part="UserAuth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://207.244.104.48:92/WSConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://207.244.104.48:92/WSConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>