proyecto/Asocajas/Asocajas/Service References/ConsultaListaCedulas/AuthenticationF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaDataCedulas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedulas" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaDataCedulasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaDataCedulasResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="estadoConsulta" type="tns:estadoConsulta" />
          <s:element minOccurs="0" maxOccurs="1" name="datosCedulas" type="tns:datosCedulas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="estadoConsulta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroControl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaHoraConsulta" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="datosCedulas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="anoResolucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departamentoExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estadoCedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaDefuncion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="informante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarNovedad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lugarPreparacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipioExpedicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numResolucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="particula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="primerNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="segundoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaHoraConsulta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroControl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConectUser" type="tns:ConectUser" />
      <s:complexType name="ConectUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaDataCedulasSoapIn">
    <wsdl:part name="parameters" element="tns:ListaDataCedulas" />
  </wsdl:message>
  <wsdl:message name="ListaDataCedulasSoapOut">
    <wsdl:part name="parameters" element="tns:ListaDataCedulasResponse" />
  </wsdl:message>
  <wsdl:message name="ListaDataCedulasConectUser">
    <wsdl:part name="ConectUser" element="tns:ConectUser" />
  </wsdl:message>
  <wsdl:portType name="ValidateInfoServiceSoap">
    <wsdl:operation name="ListaDataCedulas">
      <wsdl:input message="tns:ListaDataCedulasSoapIn" />
      <wsdl:output message="tns:ListaDataCedulasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateInfoServiceSoap" type="tns:ValidateInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaDataCedulas">
      <soap:operation soapAction="http://tempuri.org/ListaDataCedulas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListaDataCedulasConectUser" part="ConectUser" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidateInfoServiceSoap12" type="tns:ValidateInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaDataCedulas">
      <soap12:operation soapAction="http://tempuri.org/ListaDataCedulas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListaDataCedulasConectUser" part="ConectUser" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateInfoService">
    <wsdl:port name="ValidateInfoServiceSoap" binding="tns:ValidateInfoServiceSoap">
      <soap:address location="http://localhost:64261/AuthenticationF.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidateInfoServiceSoap12" binding="tns:ValidateInfoServiceSoap12">
      <soap12:address location="http://localhost:64261/AuthenticationF.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>